.sort {
  padding-top: 100px;
  text-align: center;
  margin: auto;
  font-size: 20px;
  cursor: pointer;
  @media (max-width: 991px) {
    padding-top: 132px;
  }
  @media (max-width: 480px) {
    padding-top: 100px;
  }
  &__sortpara > a,
  b {
    margin-right: 50px;
    font-weight: bolder;
  }

  @media (max-width: 480px) {
    a,
    b {
      margin-right: 12px;
      font-size: 12px;
    }
  }
  a {
    color: $gray-medium;
  }
  a:active {
    color: $primary-blue;
  }
  a[tabindex]:focus {
    color: $primary-blue;
    outline: none;
    text-decoration: underline;
  }
}
